@import "../styles/sizes";
@import "../styles/colors";

$contentTopPadding: 40px;
$contentSidesPadding: 30px;

#appContent {
    padding: ($navHeight + $navPadding + $navBorder + $contentTopPadding) $contentSidesPadding;
    background-color: $mainColor;
    color: $highlightColor;
}